body {
  background-color:rgb(255, 255, 255);
}

/* HEADER */

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 3rem;
  gap: 20px
}

.logo {
  height: 3rem;

}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* MAIN */

.main {
  height: auto;
}

/*FOOTER*/


footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-left: 20vw;
  padding-right: 20vw;
  /* background-color: #98df98; */
}

.logo-footer {
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.door-nav,
.contact-nav,
.social-nav {
  text-align: center;
  padding: 1rem;
}

.sub-nav-links {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.sub-nav-links li {
  margin-bottom: 5px;
}

.door-nav h3,
.contact-nav h3,
.social-nav h3 {
  white-space: nowrap;
  text-align: left; /* Устанавливаем фиксированную высоту */
  text-align: left; /* Выравниваем текст по левому краю */
  margin: 0; /* Убираем внешние отступы */
}
