 body {
  background-color:#ffffff;
  font-family: Karla, Arial, sans-serif;
};

h1, h2, h3 {
  font-family: Markazi;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.logo-hed {
  display: flex;
  align-items: center;
  justify-content: left;
}

.logo-hed img {
  margin-right: 10px;
  height: 3rem ;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav li {
  margin-right: 20px;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: black;
}

/* MAIN */

main {
  min-height: 50vh;
  margin: 1rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    gap: 1rem;
}

/* FOOTER */

.logo-footer img {
  /* margin-left: 30rem; */
  height: 5rem;
  padding: 1rem;
}

.logo-footer::after {
  content: '';
  margin-right: 10px;
}

.door-nav,
.contact-nav,
.social-nav {
  text-align: center;
  width: 150px;
}

.sub-nav-links {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.sub-nav-links li {
  margin-bottom: 5px;
}

.sub-nav-links li a {
  text-decoration: none;
  }

.door-nav,
.contact-nav,
.social-nav {
  padding: 3px;
}

.door-nav h3,
.contact-nav h3,
.social-nav h3 {
  height: 3rem;
  text-align: left;
  flex-wrap: wrap;
}

/* @MEDIA */

@media (max-width: 880px) {

  .logo-footer {
    display: none;
  }

  .sub-nav-links li {
    margin-bottom: 3px;
  }
}

@media (max-width: 768px) {
  header {
    padding: 0.5rem 1rem;
    gap: 10px;
  }

  .logo {
    height: 2rem;
  }

  .logo-footer {
    display: none;
  }

  nav ul {
    flex-direction: column;
    align-items:end;
    justify-content: left;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 5px;
  }
}

/* END */